// Utilities


// Clearfix
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

// Text Align
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
