---
layout: default
meta_title: A Kids Book About™
meta_description: The most important books your kids will ever read.
body_class: home
title: A Kids Book About
---

<article data-aos="fade-up" data-aos-duration="800">
  <img src="/img/a-kids-book-about.svg" alt="A Kids Book About™" height="275">
</article>
